@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-gray-300 outline-blue-500/50;
  }
  body {
    @apply bg-white text-black;
  }
}

.aboutus_heading {
  font-size: 3rem;
}

.form_box_shadow {
  border-radius: 15px;
  box-shadow: -25px 20px red;
}